.logo-container {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    padding: 32px;
    height: 40px;
    background-color: #fff;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo-text {
    margin-left: 16px;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navBar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 32px;
    width: auto;
    height: 40px;
    background-color: #fff;
}

.navBar-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}