.colorPicker__color {
  width: 100px;
  height: 30px;
  display: inline-block;
  margin: 19px 20px;
  cursor: pointer;
}

.colorPicker {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #d4d4d4;
  margin-left: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: translateX(-50%);
  width: fit-content;
}
