.aboutSection {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
}

.aboutTitle {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 16px;
    color: #cacaca;
}

.aboutDescription {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 16px;
    color: #cacaca;
    min-width: 400px;
    max-width: 700px;
    max-height: calc(100vh - 196.5px);
    text-align: justify;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: #f0b2d8 #242424;
}